.label {
    -fx-font-size: 30px;
    -fx-text-fill: Black;
    -fx-font-family: 'Trebuchet MS', sans-serif;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-alignment: center;
}